*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#project-management{
  height: calc(100% - 54px);
  overflow-y: auto;
}
//查询区域
.project-query{
  overflow: hidden;
  padding: 10px;
}
.project-management-wrap{
  width: 100%;
}
.project-management-label{
  float: left;
  color: #fff;
  line-height: 24px;
  margin-right: 10px;
  min-width: 30px;
  padding-top: 5px;

}
.project-width4{
  width: 33%;
  float: left;
}
.project-width2{
  width: 15%;
  float: left;
}
.project-width3{
  width: 20%;
  float: left;
}
//查询按钮
.project-query-btn{
  display: inline-block;
  height: 38px;
  line-height: 38px;
  color: #fff;
  width: 48%;
}

//表格区域
.project-table-wrap{
  width: 100%;
  padding: 10px 20px;
  color: #fff;
  tr {
    border-top: 1px solid #212335;
    th {
      text-align: left;
    }
    td {
      padding: 10px 0;
      &:nth-of-type(1) {
        width: 50px;
      }
      .iconfont {
        font-size: 20px;
        text-align: center;
        float: left;
        width: 100%;
      }
    }
  }
}
//表头
.project-table-head{
  background: #242531;
  tr{
    height: 50px;
    line-height: 50px;
  }
}
//展开的表格
.project-table-extend{
  background: #181822;
  border-top: 1px solid #212335;
}
.project-table{
  width: 100%;
}
.project-table-open:hover{
  cursor: pointer;
}
.project-table-width1{
  width: 10%;
}
.project-table-width2{
  width: 20%;
}
.project-table-width3{
  width: 30%;
}
.project-table-width4{
  width: 40%;
}
.project-table-width5{
  width: 50%;
}
.project-spacing{
  padding-left: 12px;
  padding-right: 12px;
  word-wrap:break-word;
  word-break:break-all;
}
.project-ipt{
  width: 60%;
  float: left;
  background: transparent;
  border: 1px solid #383b5d;
}
.enabled{
  color: #4681FF;
  font-weight: 600;
  margin-right: 20px;
  cursor: pointer;
}
.change{
  overflow: hidden;
  height: 30px;
}
.change-project{
  color: #fff;
  float: left;
  width: 100px;
  text-align: right;
  padding-right: 14px;

}
.new-line{
  word-wrap:break-word;
  word-break:break-all;
}
