/* 只在当前组件出现滚动条 */
*{
  box-sizing: border-box;
}
/* 左右padding*/
.left-right{
  padding: 0 15px;
}
#server{
  height: calc(100% - 54px);
  overflow-y: auto;
}
/* 转换成怪异盒模型 */
.strange{
  box-sizing: border-box;
}
/* 信息概览 */
.server-info-wrap{
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
}
.server-info{
  width: 100%;
  height: 300px;
}
.server-height{
  height: 285px;
}
.server-btn{
  width: 16.7%;
  float: left;
}
.server-action{
  width: 50%;
  float: left;
}
.interrupt{
  width: 33%;
  float: left;
}
.server-cpu-per,
.server-memory-per,
.server-disk-per,
.server-network
{
  width: 25%;
  float: left;
}
.divideLine{
  float: left;
  width: 100%;
}

/* 图表区域 */
.chart{
  width: 100%;
}
/*服务器指标*/
.quota-btn{
  width: 90%;
  float: left;
}
.quota-change{
  width: 10%;
  float: left;
}
.quota-date{
  width: 100%;
  float: left;
}
.btn-padding{
  padding: 0 24px;
}


/* 进程占用排行 */
.process-ranking{
  width: 50%;
  float: left;
  padding: 0 15px;
}
.process-change{
  width: 50%;
  float: left;
  padding: 0 15px;
}

/* 按钮 */
.button-tiny {
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  padding: 0 24px;
  background: transparent;
}
.serverQuota{
  width: 200px;
  float: left;
  .el-checkbox{
    float: left;
    color: #fff;
    margin: 0;
    width: 200px;
    height: 30px;
  }
}
//累计中断区域
.server-break{
  width: 100%;
  color: #fff;
  background: #100f16;
  border: 1px solid #5c5e80;
  position: absolute;
  left: 0;
  top: 85px;
  display: none;
  border-radius:4px;
  li{

    line-height: 28px;
    text-align: left;
    text-indent: 20px;
  }
}
.showCase:hover .server-break{
  display: block;
}
.offOn{
  float: right;
  overflow: hidden;
  width: 50px;
}
.online{
  color: #3be585;
}
.offline{
  color: #f5a623;
}
.alert{
  color: red;
}
