*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#warning-trigger{
  height: calc(100% - 54px);
  overflow-y: auto;
}
//查询区域
.warning-query{
  overflow: hidden;
  padding: 10px;
}
.warning-trigger-wrap{
  width: 100%;
}
.warning-trigger-label{
  float: left;
  color: #fff;
  line-height: 34px;
  margin-right: 20px;
  width: 100px;
  padding-top: 5px;
}
.warning-width4{
  width: 33%;
  float: left;
}
.warning-width2{
  width: 30%;
  float: left;
}
//查询按钮
.warning-query-btn{
  display: inline-block;
  height: 38px;
  line-height: 38px;
  color: #fff;
  width: 100px;
}

//表格区域
.warning-table-wrap{
  width: 100%;
  padding: 10px 20px;
  color: #fff;
  tr {
    border-top: 1px solid #212335;
    th {
      text-align: left;
    }
    td {
      padding: 10px 0;
      &:nth-of-type(1) {
        width: 50px;
      }
      .iconfont {
        font-size: 20px;
      }
    }
  }
}
//表头
.warning-table-head{
  background: #242531;
  tr{
    height: 50px;
    line-height: 50px;
  }
}
//展开的表格
.warning-table-extend{
  background: #181822;
  border-top: 1px solid #212335;
}
.warning-table{
  width: 100%;
}
.warning-table-open:hover{
  cursor: pointer;
}
.default-tip{
  text-align: center;
  height: 100px;
  line-height: 100px;
  font-size: 20px;
}
